.App {
  text-align: center;
}

.app-content {
  position: relative; /* Ensures the positioning context is correct for your header and other content */
  z-index: 1; /* Higher than the map so it appears on top */
}